h1{ 
    color: rgb(0, 0, 0);


}

section{
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 px 0px 10px rgba(0, 0, 0, 0.1);

}

footer{
    text-align: center;
    padding: 10px;
}




body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.685);
    color: rgb(0, 0, 0);




}



.foto-perfil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0); 
}

header{








}


.header-container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;            /* Ocupa toda a altura da tela */
  }
  
  .header-container {
    width: 200px;
    height: 200px;
    background-color: lightblue;
  }